body {
    margin: 0;
    background-image: url('../../img/2.jpg');
    background-size: 100% auto; /* 100% de largura, altura automática */
            background-repeat: no-repeat;
            background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #4B0082;
    font-family: Arial, sans-serif;
    color: #FFFFFF; /* Mudança para texto branco */
}

.container {
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background-color: #1E90FF;;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color:  #0000CD;
}

.painel{
    width: 330px; /* Largura do retângulo */
    height: 120px; /* Altura do retângulo */
    border-radius: 20px;
    background-color: #4B0082;
    color: #FFFFFF; /* Mudança para texto branco */ /* Cor de fundo do retângulo */
    border: 2px solid #4B0082; /* Cor e espessura da borda */
}

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

/* Estilos para o pop-up */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: #1E90FF;
    color: #000000;    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px; /* Defina o valor desejado para o máximo de largura */
    white-space: pre-line;
    overflow-wrap: break-word;

}

.close-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3CB371;
    color: #FFFFFF; /* Mudança para texto branco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #228B22;
}

/* Adicionando estilos para o botão de interrogação */
.help-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #1E90FF;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.help-btn:hover {
    background-color: #0000CD;
}